input[type="submit"] {
  cursor: pointer;
}

#header_banner {
  background-image: url(../images/podcast-header-bg.jpg);
  height: 200px;
  background-repeat: repeat-x;
  background-position: center top;
  overflow: hidden;

  h1, h2 {
    color: #fff;
  }

  h1 {
      font-size: 28px;
      line-height: 34px;
      margin: 30px 0px 8px;
      font-weight: 700;
      letter-spacing: -1px;

      /* Tablet Portrait size to standard 960 (devices and browsers) */
      @media only screen and (min-width: 768px) and (max-width: 959px) {
        font-size: 25px;
      }

      /* All Mobile Sizes (devices and browser) */
      @media only screen and (max-width: 767px) {
        font-size: 24px;
      }

      /* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
      @media only screen and (max-width: 479px) {
        font-size: 22px;
        line-height: 24px;
      }
    }

  h2 {
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    font-style: italic;
    margin-bottom: 6px;

    &#small_header {
      display: none;
    }

    /* Tablet Portrait size to standard 960 (devices and browsers) */
    @media only screen and (min-width: 768px) and (max-width: 959px) {
      font-size: 17px;
    }

    /* All Mobile Sizes (devices and browser) */
    @media only screen and (max-width: 767px) {
      &#big_header {
        display: none;
      }

      &#small_header {
        display: block;

        a {
          color: #fff;
          text-decoration: underline;
        }

        /* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
        @media only screen and (max-width: 479px) {
          font-size: 16px;
          line-height: 18px;
        }
      }
    }
  }

  input {
        border: none;
        outline: none;
        border-radius: 3px;
        font-family: 'Open Sans', sans-serif;
        font-size: 16px;

       /* Tablet Portrait size to standard 960 (devices and browsers) */
        @media only screen and (min-width: 768px) and (max-width: 959px) {
          font-size: 14px;
        }

        /* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
        @media only screen and (min-width: 480px) and (max-width: 767px) {
          font-size: 15px;
        }
      }

      input[type="email"] {
        padding: 8px 8px;
        width: 58%;
        margin: 12px 10px 10px 0px;
        box-shadow: inset 0px 1px 3px rgba(0,0,0,.13);

       /* Tablet Portrait size to standard 960 (devices and browsers) */
        @media only screen and (min-width: 768px) and (max-width: 959px) {
          font-size: 14px;
          width: 51%;
        }

        /* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
        @media only screen and (max-width: 479px) {
          padding: 10px 6px 10px 10px;
        }

        /* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
        @media only screen and (min-width: 480px) and (max-width: 767px) {
          width: 45%;
        }

        /* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
        @media only screen and (max-width: 479px) {
          display: none;
        }
      }

      input[type="submit"] {
        background-color: #59ABCE;
        color: #f7f7f7;
        padding: 8px 8px;
        width: 37%;

        /* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
        @media only screen and (min-width: 480px) and (max-width: 767px) {
          width: 46%;
        }

        /* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
        @media only screen and (max-width: 479px) {
          display: none;
        }
      }

      form a {
        display: none;

        /* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
        @media only screen and (max-width: 479px) {
          display: block;
          text-decoration: none;
          background-color: #59ABCE;
          color: #f7f7f7;
          padding: 8px 8px;
          margin-top: 20px;
          font-weight: 600;border: none;
          outline: none;
          border-radius: 3px;
          text-align: center;
        }
      }

  #left_header {
    width: 600px;
    padding-right: 74px;
    padding-left: 40px;
    float: left;
    display: none;

    /* Tablet Portrait size to standard 960 (devices and browsers) */
    @media only screen and (min-width: 768px) and (max-width: 959px) {
      width: 524px;
      padding-left: 0px;
      padding-right: 54px;
    }

    /* All Mobile Sizes (devices and browser) */
    @media only screen and (max-width: 767px) {
      padding: 0px 0px;
      width: 100%;
    }
  }

  #right_header {
    padding-right: 56px;
    padding-top: 200px;
    width: 190px;
    float: right;
    display: inline;

    /* Tablet Portrait size to standard 960 (devices and browsers) */
    @media only screen and (min-width: 768px) and (max-width: 959px) {
      padding-right: 0px;
    }

    /* All Mobile Sizes (devices and browser) */
    @media only screen and (max-width: 767px) {
      display: none;
    }

    a {
      display: block;
    }
  }
}

#thank_you_banner {
  padding: 60px 0px 20px;

  h1, h2 {
  color: #333;
  text-align: center;
  }

  h1 {
    font-size: 24px;
    line-height: 40px;
    font-weight: 400;
    text-align: center;
    margin: 0px auto 10px;

    a {
      text-decoration: none;
      font-weight: 400;
      color: #333;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  h2 {
    font-size: 21px;
    font-weight: 200;
    line-height: 28px;
    margin: 10px auto;
  }

  .divider {
    width: 70%;
    margin-top: 50px;
  }

  h3 {
    font-size: 18px;
    text-align: center;
    color: #3c4555;
  }

  img {
    display: inline;
    vertical-align: middle;
  }

  a {
    margin-left: 8px;
  }
}

aside {

  #subscribe_links, #upcoming_episodes, #past_episodes, #review_us, #hosts {
    margin-bottom: 50px;
  }

  #codeship_promo {

    h2 {
      background-color: #59ABCE;
      padding: 20px 20px;
      font-size: 24px;
      text-align: center;
      line-height: 28px;
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
      color: #fff;
      margin-bottom: 0px;
    }

    img {
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-top: 10px;
    }

    h3 {
      background-color: #E27A68;
      border-bottom-left-radius: 4px;
      border-bottom-right-radius: 4px;

      a {
        text-decoration: none;
        color: #fff;
        display: block;
      }
    }

    img#play_button {
      display: inline;
      vertical-align: middle;
      margin-right: 8px;
    }
  }

  #past_episodes li a {
    color: #000;
    font-weight: 300;
    text-decoration: underline;
  }

  h2 {
    font-size: 21px;
    font-weight: 600;
    line-height: 28px;
    margin-bottom: 6px;
  }

  ul {
    list-style-type: square;
    list-style-position: inside;
    list-style-image: none;
  }

  li {
    font-size: 16px;
    font-weight: 300;
    line-height: 26px;

    span {
      font-size: 13px;
      float: right;
    }
  }

  p {
    font-size: 14px;
    font-weight: 200;
    line-height: 22px;
  }

  a {
    text-decoration: none;
    color: #59ABCE;
    font-weight: 600;

    &:hover {
      text-decoration: underline;
    }
  }

  img {
    margin-bottom: 10px;
  }


  .divider {
    width: 100%;
    margin-bottom: 10px;
  }

  #subscribe_links {
    margin-bottom: 30px;

    h2 {
      margin-bottom: 10px;
    }

    a {
      color: #A04AD4;
      vertical-align: middle;
      margin-bottom: 8px;
      display: block;
    }

    img {
      vertical-align: middle;
      margin-right: 10px;
      margin-top: 7px;
    }
  }

  #review_us {
    background: #59ABCE;
    padding: 20px 20px;
    border-radius: 4px;

    /* All Mobile Sizes (devices and browser) */
    @media only screen and (max-width: 767px) {
      background-image: url(../images/promo_bg_mobile.png);
    }

    h2 {
      color: #fff;

      /* Tablet Portrait size to standard 960 (devices and browsers) */
      @media only screen and (min-width: 768px) and (max-width: 959px) {
       font-size: 18px;
      }
    }

    p {
      color: #fff;
      font-weight: 400;
    }

    a {
      color: #ebc660;
      font-weight: 600;
      text-decoration: underline;
    }
  }

  .host {

    position: relative;

    .headshot {
      width: 50px;
      float: left;
    }

    .bio {
      float: left;
    }

    h3 {
      font-size: 16px;
      margin-bottom: 2px;
    }

    p {
      font-size: 14px;
      margin-bottom: 20px;
    }

    img {
      width: 50px;
      height: 50px;
      margin: 20px auto 10px;
      border-radius: 600px;

      &:first-child {
        margin-top: 10px;
      }
    }
  }
}

.podcast {
  h1 {
    margin-top: 40px;
    font-family: $font-family-hero;
    text-transform: uppercase;
    font-size: 36px;
    color: $black;
  }
}

.podcast-photo {
  img {
    width: 140px;
    height: 140px;
    border-radius: 70px;
  }
}

.podcast-header {
  z-index: 999;
  margin-top: -100px;
  text-align: center;
  margin-bottom: 40px;

  p {
    margin-top: 15px;
    font-size: 18px;
    .date {
      color: $grey;
    }
  }
}

.podcast-upcoming {

  margin: 80px 0 40px 0;

  p {
    text-align: center;
    margin-bottom: 10px;

    &:first-child {
      font-family: $font-family-bold;
      font-size: 18px;
    }
  }
}

.player {
  position: relative;
  width: 50%;
  margin: 20px auto;

  iframe {
    $left: darken(#62C9F9, 30%);
    $right: darken(#5EEDC9, 30%);
    background-image: linear-gradient(to right,$left,$right);
    border-radius: 5px;
  }
}

.podcast-summary {
  text-align: center;
  font-size: 16px;
  line-height: 28px;
  max-width: 760px;
  margin: 0 auto;

  a {
    color: $black;
    text-decoration: none;
    border-bottom: 1px solid $blue;
    padding-bottom: 2px;
    font-weight: 700;
    &:hover {
      color: $blue;
    }
  }
}

.podcast-download-options {
  margin: 30px 0;
  padding-bottom: 30px;
  border-bottom: 1px solid $light-grey;
  text-align: center;
  font-family: $font-family-bold;
  a {
    text-decoration: none;
    padding: 0 20px;

    &.mp3 {
      color: $green;
    }

    &.itunes {
      color: $blue;
    }
  }
}

.podcast-item {
  margin: 40px 0;

  .podcast-item-photo {
    float: left;
  }

  .podcast-item-content {
    padding-left: 110px;
  }

  img {
    width: 90px;
    height: 90px;
    border-radius: 50px;
  }

  h3 {
    font-family: $font-family-hero;
    text-transform: uppercase;
    margin: 15px 0;
    font-size: 28px;
  }

  a {
    color: $black;
    text-decoration: none;
    &:hover {
      color: $blue;
    }
  }

  &.is-upcoming {
    a {
      color: $grey;
      &:hover {
        color: $blue;
      }
    }
  }
}