input[type="submit"] {
  cursor: pointer;
}

#header_banner {
  background-image: url(../images/podcast-header-bg.jpg);
  height: 200px;
  background-repeat: repeat-x;
  background-position: center top;
  overflow: hidden;

  h1, h2 {
    color: #fff;
  }

  h1 {
      font-size: 28px;
      line-height: 34px;
      margin: 30px 0px 8px;
      font-weight: 700;
      letter-spacing: -1px;

      /* Tablet Portrait size to standard 960 (devices and browsers) */
      @media only screen and (min-width: 768px) and (max-width: 959px) {
        font-size: 25px;
      }

      /* All Mobile Sizes (devices and browser) */
      @media only screen and (max-width: 767px) {
        font-size: 24px;
      }

      /* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
      @media only screen and (max-width: 479px) {
        font-size: 22px;
        line-height: 24px;
      }
    }

  h2 {
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    font-style: italic;
    margin-bottom: 6px;

    &#small_header {
      display: none;
    }

    /* Tablet Portrait size to standard 960 (devices and browsers) */
    @media only screen and (min-width: 768px) and (max-width: 959px) {
      font-size: 17px;
    }

    /* All Mobile Sizes (devices and browser) */
    @media only screen and (max-width: 767px) {
      &#big_header {
        display: none;
      }

      &#small_header {
        display: block;

        a {
          color: #fff;
          text-decoration: underline;
        }

        /* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
        @media only screen and (max-width: 479px) {
          font-size: 16px;
          line-height: 18px;
        }
      }
    }
  }

  input {
        border: none;
        outline: none;
        border-radius: 3px;
        font-family: "brandon-grotesque";
        font-size: 16px;

       /* Tablet Portrait size to standard 960 (devices and browsers) */
        @media only screen and (min-width: 768px) and (max-width: 959px) {
          font-size: 14px;
        }

        /* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
        @media only screen and (min-width: 480px) and (max-width: 767px) {
          font-size: 15px;
        }
      }

      input[type="email"] {
        padding: 8px 8px;
        width: 58%;
        margin: 12px 10px 10px 0px;
        box-shadow: inset 0px 1px 3px rgba(0,0,0,.13);

       /* Tablet Portrait size to standard 960 (devices and browsers) */
        @media only screen and (min-width: 768px) and (max-width: 959px) {
          font-size: 14px;
          width: 51%;
        }

        /* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
        @media only screen and (max-width: 479px) {
          padding: 10px 6px 10px 10px;
        }

        /* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
        @media only screen and (min-width: 480px) and (max-width: 767px) {
          width: 45%;
        }

        /* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
        @media only screen and (max-width: 479px) {
          display: none;
        }
      }

      input[type="submit"] {
        background-color: #59ABCE;
        color: #f7f7f7;
        padding: 8px 8px;
        width: 37%;

        /* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
        @media only screen and (min-width: 480px) and (max-width: 767px) {
          width: 46%;
        }

        /* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
        @media only screen and (max-width: 479px) {
          display: none;
        }
      }

      form a {
        display: none;

        /* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
        @media only screen and (max-width: 479px) {
          display: block;
          text-decoration: none;
          background-color: #59ABCE;
          color: #f7f7f7;
          padding: 8px 8px;
          margin-top: 20px;
          font-weight: 500;border: none;
          outline: none;
          border-radius: 3px;
          text-align: center;
        }
      }

  #left_header {
    width: 600px;
    padding-right: 74px;
    padding-left: 40px;
    float: left;
    display: none;

    /* Tablet Portrait size to standard 960 (devices and browsers) */
    @media only screen and (min-width: 768px) and (max-width: 959px) {
      width: 524px;
      padding-left: 0px;
      padding-right: 54px;
    }

    /* All Mobile Sizes (devices and browser) */
    @media only screen and (max-width: 767px) {
      padding: 0px 0px;
      width: 100%;
    }
  }

  #right_header {
    padding-right: 56px;
    padding-top: 200px;
    width: 190px;
    float: right;
    display: inline;

    /* Tablet Portrait size to standard 960 (devices and browsers) */
    @media only screen and (min-width: 768px) and (max-width: 959px) {
      padding-right: 0px;
    }

    /* All Mobile Sizes (devices and browser) */
    @media only screen and (max-width: 767px) {
      display: none;
    }

    a {
      display: block;
    }
  }
}

#podcast_intro_banner, #thank_you_banner {
  background-color: #f4f1e1;
  padding: 60px 0px 20px;

  h1, h2 {
  color: #333;
  text-align: center;
  }

  h1 {
    font-size: 30px;
    line-height: 40px;
    font-weight: 400;
    text-align: center;
    margin: 0px auto 10px;
  }

  h2 {
    font-size: 21px;
    font-weight: 200;
    line-height: 28px;
    margin: 10px auto;
  }

  .divider {
    width: 70%;
    margin-top: 50px;
  }
}

body.thanks_index { background-color: #f4f1e1 }
#thank_you_banner {
  padding-top: 100px;

  a { color: #DA5640 }
}

#podcasts_banner {
  padding-top: 20px;
  background-color: #f4f1e1;

  #review_us_banner {
    background-image: url('/images/review_us_banner_bg.jpg');
    margin-bottom: 20px;
    border-radius: 4px;
    padding: 20px 30px;

    img {
      width: 120px;
      vertical-align: middle;
      margin: 0px auto 8px;
      display: block;
    }

    p {
      text-align: center;
      color: #fff;
      font-size: 21px;
      font-weight: 500;
      line-height: 28px;

      /* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
      @media only screen and (min-width: 480px) and (max-width: 767px) {
        font-size: 18px;
      }
      /* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
      @media only screen and (max-width: 479px) {
        font-size: 18px;
        line-height: 22px;
      }
    }

   a {
      color: #ebc660;
   }
  }

  .podcast {
    padding: 20px 20px;
    margin-bottom: 50px;
    background-color: #EFECDE;
    border-radius: 3px;

    /* All Mobile Sizes (devices and browser) */
    @media only screen and (max-width: 767px) {
      position: relative;
      padding-top: 50px;
    }

    &:first-child {
      background-color: #EAE6D3;
    }

    h3 {
      font-weight: 700;
      font-size: 24px;
      margin-bottom: 14px;

      span.podcast_date {
        float: right;
        font-weight: 400;

        /* All Mobile Sizes (devices and browser) */
        @media only screen and (max-width: 767px) {
          position: absolute;
          top:20px;
          left:20px;
        }
      }

      a {
        color: #000;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    p {
      font-size: 18px;
      line-height: 22px;
      font-weight: 300;
    }

    p a, .podcast_details a {
      text-decoration: none;
      color: #DA5640;
      font-weight: 300;

      &:hover {
        text-decoration: underline;
      }
    }

    span {
      font-size: 16px;
    }

    img {
      width: 100px;
      float: left;
      margin: 0px 20px 10px 0px;
      border-radius: 3px;
    }

    .listen {
      a {
        font-size: 15px;
        display: inline;
        font-weight: 500;
        padding: 10px 18px;
        border-radius: 4px;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }

        &.listen-to-episode {
          display: inline-block;
          background-color: #DA5640;
          color: #fff;
          margin-left: 0px;
          float: right;
        }
      }
    }

    .listen {
      padding: 20px 0 40px;

      iframe {
        float: left;
        width: 333px;

        /* Any Screen less than 960 (devices and browsers) */
        @media only screen and (max-width: 959px) {
          width: 100%;
          float: none;
        }
      }

      .download_options {
        float: left;

        /* Any Screen less than 960 (devices and browsers) */
        @media only screen and (max-width: 959px) {
          padding-top: 0px;
          float: none;
        }

        a {
          &:first-child {
            margin-left: 10px;
          }

          /* Any Screen less than 960 (devices and browsers) */
          @media only screen and (max-width: 959px) {
            margin-top: 14px;
            margin-left: 14px
          }

          &.mp3 {
            display: inline-block;
            background-color: #59abce;
            color: #fff;
          }

          &.itunes {
            display: inline-block;
            background-color: #DA5640;
            color: #fff;

            /* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
            @media only screen and (max-width: 479px) {
              margin-left: 0px;
            }
          }


          &:first-child {
            /* Any Screen less than 960 (devices and browsers) */
            @media only screen and (max-width: 959px) {
              margin-left: 0px;
            }
          }
        }
      }
    }

    .podcast_details {

      h4 {
        font-size: 16px;
        font-weight: 500;
        line-height: 28px;
        margin-bottom: 6px;
      }

      li {
        font-size: 15px;
        line-height: 18px;
        margin-bottom: 10px;
      }

      .show_notes {
        float: left;
        width: 340px;
        margin-right: 40px;

        /* Smaller than standard 960 (devices and browsers) */
        @media only screen and (max-width: 959px) {
          margin-right: 0px;
        }

        /* Tablet Portrait size to standard 960 (devices and browsers) */
        @media only screen and (min-width: 768px) and (max-width: 959px) {
          width: 470px;
        }

        /* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
        @media only screen and (min-width: 480px) and (max-width: 767px) {
          width: 380px;
        }

        /* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
        @media only screen and (max-width: 479px) {
          width: 260px;
        }
      }

      .tweetables {
        float: right;
        width: 220px;

        /* Anything smaller than 959 */
        @media only screen and (max-width: 959px) {
          float: left;
          margin-top: 20px;
          width: 100%;
        }

        p.tweetable {
          background-color: #f9f9f4;
          border-radius: 4px;
          padding: 10px 10px;
          text-decoration: italic;
          font-size: 18px;
          line-height: 22px;
          margin-bottom: 14px;
        }

        .twitter-share-button {
          margin-top: 4px;
          display: block;
        }
      }
    }
  }
}

aside {

  #subscribe_links, #upcoming_episodes, #past_episodes, #review_us, #hosts {
    margin-bottom: 50px;
  }

  #past_episodes li a {
    color: #000;
    font-weight: 300;
    text-decoration: underline;
  }

  h2 {
    font-size: 21px;
    font-weight: 500;
    line-height: 28px;
    margin-bottom: 6px;
  }

  ul {
    list-style-type: square;
    list-style-position: inside;
    list-style-image: none;
  }

  li {
    font-size: 16px;
    font-weight: 300;
    line-height: 26px;

    span {
      font-size: 13px;
      float: right;
    }
  }

  p {
    font-size: 16px;
    font-weight: 200;
    line-height: 22px;
  }

  a {
    text-decoration: none;
    color: #DA5640;
    font-weight: 500;

    &:hover {
      text-decoration: underline;
    }
  }

  img {
    margin-bottom: 10px;
  }


  .divider {
    width: 100%;
    margin-bottom: 10px;
  }

  #subscribe_links {
    margin-bottom: 30px;

    h2 {
      margin-bottom: 10px;
    }
    a {
      vertical-align: middle;
      margin-bottom: 8px;
      display: block;
    }

    img {
      vertical-align: middle;
      margin-right: 10px;
    }
  }

  #review_us {
    background-image: url(../images/promo_bg.png);
    padding: 20px 20px;
    border-radius: 4px;

    /* All Mobile Sizes (devices and browser) */
    @media only screen and (max-width: 767px) {
      background-image: url(../images/promo_bg_mobile.png);
    }

    h2 {
      color: #fff;

      /* Tablet Portrait size to standard 960 (devices and browsers) */
      @media only screen and (min-width: 768px) and (max-width: 959px) {
       font-size: 18px;
      }
    }

    p {
      color: #fff;
      font-weight: 500;
    }

    a {
      color: #ebc660;
      font-weight: 500;
      text-decoration: underline;
    }
  }

  .host {

    h3 {
      font-size: 16px;
      margin-bottom: 2px;
    }

    p {
      font-size: 14px;
      margin-bottom: 20px;
    }

    img {
      width: 100px;
      height: 100px;
      margin: 20px auto 10px;
      border-radius: 500px;

      &:first-child {
        margin-top: 10px;
      }
    }
  }
}