@import 'skeleton';

@font-face {
  font-family: 'icomoon';
  src:url('fonts/icomoon.eot');
  src:url('fonts/icomoon.eot?#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf') format('truetype'),
    url('fonts/icomoon.woff') format('woff'),
    url('fonts/icomoon.svg#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

.glyph {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: #2a87b6;
  font-family: "brandon-grotesque";
}

h1, h2 {
  color: #333;
}

/*#header_bar_banner {
  background-color: #59ABCE;
  height: 12px;
}*/

#headline_banner {
  padding-top: 70px;
  padding-bottom: 50px;

  #headline {
    text-align: center;
    h1, h2 {
      color: #fff;
    }

    h1 {
      font-size: 40px;
      line-height: 46px;
      margin-bottom: 10px;
      font-weight: 700;
      letter-spacing: -1px;
    }

    h2 {
      font-weight: 500;
      font-size: 28px;
      line-height: 36px;
      font-style: italic;
    }
  }
}

#summary_banner {
  background-image: url('../images/cloud-header-repeater.png');
  background-repeat: repeat-x;
  background-position: center 110%;
  #summary {
    #book_copy {
      padding-top: 26px;

      p {
        font-size: 24px;
        line-height: 30px;
        font-weight: 300;
        color: #fff;
      }

      input {
        display: block;
        border: none;
        outline: none;
        border-radius: 3px;
        font-family: "brandon-grotesque";
        font-size: 18px;
      }

      input[type="email"] {
        padding: 10px 10px;
        width: 95%;
        margin: 20px 0px 10px;
        box-shadow: inset 0px 1px 3px rgba(0,0,0,.13);

        /* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
        @media only screen and (max-width: 479px) {
          padding: 10px 6px 10px 10px;
        }
      }

      input[type="submit"] {
        background-color: #59ABCE;
        color: #f7f7f7;
        padding: 10px 20px;
        width: 100%;
      }
    }

    #book_image {
      position: relative;
      top: 12px;

      img {
        width: 400px;
      }
    }
  }
}

.divider {
  border: 1px solid darken(#f4f1e1, 5%);
  width: 60%;
  margin: auto;
  margin-bottom: 1em;
}

#bullet_points_banner {
  background-color: #f4f1e1;
  padding: 30px 0px 20px;

  #bullet_points {
    .glyph {
      //color: darken(#f4f1e1, 30%);
      color: #2a87b6;
      display: block;
      font-size: 1.6em;
      text-align: center;
      margin-bottom: .5em;
    }

    h2 {
     font-size: 30px;
     line-height: 40px;
     font-weight: 200;
     text-align: center;
     width: 90%;
      margin: 1em auto 2em;
    }

    h3 {
      font-size: 18px;
      font-weight: 700;
      line-height: 15px;
      width: 90%;
      margin: auto;
      text-align: center
    }

    p {
      padding-top: 1em;
      font-weight: 400;
      line-height: 1.4em;
      font-size: 17px;
      width: 90%;
      margin: auto;
      text-align: center;
      opacity: .7;
    }

    .one-third {
      margin: 3em 0 2em;

      /* All Mobile Sizes (devices and browser) */
      @media only screen and (max-width: 767px) {
        margin-bottom: 0em;
      }
    }

    a {
      text-decoration: none;
      color: #000;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

#authors_banner {
  background: #f4f1e1;
  padding: 40px 0 50px;

  #authors {
    h2 {
      font-size: 24px;
      line-height: 40px;
      font-weight: 200;
      text-align: center;
      width: 90%;
      margin: 2em auto 2em;
    }

    #headshots {
      &>.author {
        display: inline;
        float: left;
        width: 300px;
        text-align: center;
        margin-right: 20px;

        /* Tablet Portrait size to standard 960 (devices and browsers) */
        @media only screen and (min-width: 768px) and (max-width: 959px) {
          width: 236px;
        }

        /* All Mobile Sizes (devices and browser) */
        @media only screen and (max-width: 767px) {
          display: block;
          float: none;
          margin: 0 auto 70px;
          width: 100%;
        }

        /* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
        @media only screen and (min-width: 480px) and (max-width: 767px) {
          p {
            padding: 0px 60px;
          }
        }

        .headshot {
          overflow: hidden;
          width: 100%;
        }

        a.author {
          display: block;
          width: 150px;
          height: 150px;
          margin: 0 auto 1em;
          border-radius: 500px;
          background-size: cover;
          float: none;

          &.matt {
            background-image: url(https://pbs.twimg.com/profile_images/2924900755/d6037df455368ae1b69a7b6e280c24cb.jpeg);
          }
          &.joelle {
            background-image: url(https://pbs.twimg.com/profile_images/3375355379/6404c39faceff6e094f39041b89623b6.png);
          }
          &.michael {
            background-image: url(http://spanglishbaby.com/wp-content/directory-upload/2012/11/sacca-300x200.jpg);
            background-position: -70px 0;
          }

          &:after {
            content: '';
            display: block;
            clear: both;
          }
        }
        &:last-child {
          margin-right: 0px;
        }

        img {
          border-radius: 400px;
          margin-bottom: 5px;
          opacity: .8;

          &:hover {
            opacity: 1;
          }
        }

        h3 {
          font-weight: 700;
          margin-bottom: 5px;
          font-size: 18px;
          line-height: 24px;
        }

        a {
          text-decoration: none;
          color: #000;

          &:hover {
            text-decoration: underline;
          }
        }

        p {
          font-size: 16px;
          line-height: 20px;
          margin-bottom: 5px;
        }
        span {
          color: #CD8817;
        }
      }
    }
  }
}

#footer_banner {
  padding: 16px 0px;
  text-align: center;
  font-size: 14px;
  background-color: #111;
  color: #e6e6e6;
  line-height: 18px;

  #footer a {
    color: #fff;
  }

  span {
    font-weight: 700;
  }
}
