<section id="footer_banner">
  <div id="footer" class="container">
    <div class="sixteen columns">
    <p>A project of <a href="http://www.coderly.com">Coderly</a>. Design courtesy of <a href="http://howtobuildarocketship.com/">The Rocketship Podcast.</a></p>
    </div><!-- END .sixteen.columns -->
  </div><!-- END #footer.container -->
</section><!-- END #footer_banner -->