<section id="footer_banner">
  <div id="footer" class="container">
    <div class="sixteen columns">
    <p>A project by <a href="http://www.smallhq.com">Small HQ</a> and <a href="http://tinyfactory.co">Tiny Factory</a> &nbsp; | &nbsp; <span><a href="http://www.madeinsd.org">Made in SD</a></span>.</p>
    </div><!-- END .sixteen.columns -->
  </div><!-- END #footer.container -->
</section><!-- END #footer_banner -->