<section id="footer">
  <div class="container">
    <div class="ten columns offset-by-three">
      <div class="footer-content clearfix">
        <div class="little-logo"><img src="/images/little-logo.png" /></div>
        <div class="host">
          <img src="/images/josh.jpeg" />
          <h3>Josh Smith</h3>
          <p>Consults for startups at Coderly.</p>
          <a class="twitter-follow-button"
            href="https://twitter.com/joshsmith"
            data-size="large"
            data-show-screen-name="false"
            data-show-count="false">
          Follow @twitterapi
          </a>
        </div>
        <div class="host">
          <img src="/images/venkat.jpeg" />
          <h3>Venkat Dinavahi</h3>
          <p>Consults for startups at Coderly.</p>
          <a class="twitter-follow-button"
            href="https://twitter.com/venkatdinavahi"
            data-size="large"
            data-show-screen-name="false"
            data-show-count="false">
          Follow @twitterapi
          </a>
        </div>
      </div>
    </div><!-- END .sixteen.columns -->
  </div><!-- END #container -->
</section><!-- END #footer -->