<section id="header_banner">
  <div id="header" class="container">
    <div id="left_header">
      <h1>Profitable Product Launches Don't Just Happen.</h1>
      <h2>There are super simple techniques that have been proven time and time again to lay the groundwork for a solid launch. Learn from dozens of successful founders.</h2>
      <form action="http://email.demandloyalty.com/t/r/s/tyjtukk/" method="post">
        <input type="email" name="cm-tyjtukk-tyjtukk" placeholder="Your Email" id="sign_up" required>
        <input type="submit" value="Reserve Your Launch Discount" id="submit">
      </form>
    </div>
    <div id="right_header">
      <a href="/"><img src="images/cropped-book.png"></a>
    </div>
  </div><!-- END #header.container -->
</section><!-- END #header_banner -->