<section id="header_bar_banner">
  <div id="header_bar" class="container">
    <div class="sixteen columns">
    </div><!-- END .sixteen.columns -->
  </div><!-- END #header_bar.container -->
</section><!-- END #header_bar_banner -->