<section id="header_banner">
  <div id="header" class="container">
    <div id="left_header">
      <h1>Profitable Product Launches Don't Just Happen.</h1>
      <h2 id="big_header">There are super simple techniques that have been proven time and again to lay the groundwork for a solid launch. Learn from dozens of successful founders.</h2>
      <h2 id="small_header">Introducing: "<a href="/">How to Build a Rocketship</a>" — Learn the techniques of dozens of successful founders.</h2>
      <form action="http://email.demandloyalty.com/t/r/s/tyjtukk/" method="post">
        <input type="email" name="cm-tyjtukk-tyjtukk" placeholder="Your Email" id="sign_up" required>
        <input type="submit" value="Reserve Your Launch Discount" id="submit">
        <a id="mobile_cta" href="/">Learn More &amp; Reserve Pre-Launch Discount</a>
      </form>
    </div>
    <div id="right_header">
      <% link_to '/' do %>
        <%= image_tag 'cropped-book.png' %>
      <% end %>
    </div>
  </div><!-- END #header.container -->
</section><!-- END #header_banner -->