<%= link_to '<a href="https://twitter.com/MichaelSacca"><img src="http://howtobuildarocketship.com/images/michael-3a63b753.jpg" width="88" height="88"</a>' %>
<h2><a href="https://twitter.com/MichaelSacca">Michael Sacca</a></h2>
<h3>Founder, <a href="http://www.tinyfactory.co">Tiny Factory</a></h3>
<p>Currently building <a href="http://www.brandisty.com">Brandisty</a>. Creator of <a href="https://chrome.google.com/webstore/detail/benchwarmer-dribbble-for/lhdjhhpjicomphhjpehdhjenbaamdpnn?hl=en">Benchwarmer</a>. Writing <a href="http://www.howtobuildarocketship.com">How to Build a Rocketship</a>.</p>
<div id="follow"><a href="https://twitter.com/JoelleSteiniger" class="twitter-follow-button" data-show-count="false">Follow @JoelleSteiniger</a></div>