<div id="navigation">
  <nav class="container">
    <a href="/">Episodes</a>
    <a class="right" href="">Subscribe on iTunes</a>
  </nav>

  <div class="container">
    <div class="eight columns offset-by-four">
      <div class="logo"></div>
      <div class="explainer">
        <p>Short expert interviews that help you <em>decode</em> what developers are saying.</p>
      </div>
      <div class="email-subscription clearfix">
        <input type="email" placeholder="you@email.com" spellcheck="false" />
        <button type="submit">Keep me updated!</button>
      </div>
    </div>
  </div>
</div>