<aside id="sidebar" class="four columns offset-by-one">
  <div id="subscribe_links">
    <div class="divider"></div>
    <h2>Get all the Episodes</h2>
    <a href="http://simplecast.fm/podcasts/62/rss"><img src="/images/rss.png" width="16">Subscribe via RSS</a>
    <a href="https://itunes.apple.com/us/podcast/the-rocketship-podcast/id808014240?mt=2"><img src="/images/Itunes.png" width="16">Subscribe on iTunes</a>
  </div>

  <div id="upcoming_episodes">
    <div class="divider"></div>
    <h2>Upcoming Episodes</h2>
    <ul>
      <% blog('podcast').articles.select{ |article| article.data.upcoming == true }.reverse.each do |episode| %>
        <li><%= episode.data.name %><span><%= episode.date.strftime('%-m/%-d') %></span></li>
      <% end %>
    </ul>
  </div>

  <div id="review_us">
    <h2>Please Review Us</h2>
    <img src="/images/stars.png" width= "120">
    <p>If you like what you hear, please take a second to <a href="https://itunes.apple.com/us/podcast/the-rocketship-podcast/id808014240?mt=2">Review Us on iTunes</a>. We truly appreciate it!</p>
  </div>

  <div id="past_episodes">
    <div class="divider"></div>
    <h2>Past Episodes</h2>
    <ul>
      <% blog('podcast').articles.select{ |article| article.data.upcoming == false }.each do |episode| %>
        <li><%= link_to episode.data.name, episode.url %><span><%= episode.date.strftime('%-m/%-d') %></span></li>
      <% end %>
    </ul>
  </div>

  <div id="hosts">
    <div class="divider"></div>
      <h2>About the Hosts</h2>

      <div class="host">
        <div class="headshot">
          <a href="https://twitter.com/joshsmith"><img src="/images/josh.jpeg"></a>
        </div>
        <h3><a href="https://twitter.com/joshsmith">Josh Smith</a></h3>
        <p>Consults for startups at <a href="https://www.coderly.com/">Coderly</a>. Founder of <a href="http://www.cookacademy.com">CookAcademy</a>.</p>
      </div><!-- END .host -->

      <div class="host">
        <a href="https://twitter.com/venkatdinavahi"><img src="/images/venkat.jpeg"></a>
        <h3><a href="https://twitter.com/venkatdinavahi">Venkat Dinavahi</a></h3>
        <p>Consults for startups at <a href="http://www.coderly.com">Coderly</a>. Currently building StoryPad.</p>
      </div><!-- END .host -->
  </div>
</aside><!-- END #sidebar.four.columns -->