

<!-- Twitter -->
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
</script>


<section id="codeship_intro_banner">
  <div id="codeship_intro" class="container">
    <div class="twelve columns offset-by-two">
      <h1>We Love Codeship</h1>
      <h2>We've been using<a href="https://www.codeship.io?utm_source=RocketShip&utm_medium=podcast&utm_campaign=RocketShipPodcast">Codeship</a> for<a href="http://hookfeed.com">HookFeed</a> for a long time and it's honestly been a game-changer. If you're not sure how it might help you, watch this demo of our own personal continuous deployment process. </h2>
      <div class="divider"></div>
    </div><!-- END .twelve.columns.offset-by-two -->
  </div><!-- END #podcast_intro.container -->
</section><!-- END #podcast_intro_banner -->

<section id="video_demo_banner">
  <div id="video_demo" class="container">
    <section id="video" class="eleven columns">
      <img src="http://placehold.it/640x400" class="scale-with-grid">
      <div id="main_cta">
        <a href="https://www.codeship.io?utm_source=RocketShip&utm_medium=podcast&utm_campaign=RocketShipPodcast"><h1>Learn More About</h1><img src="images/logo_codeship_colour.png" width="300" class="scale-with-grid"></a>
      </div>
      <div id="nudge">
        <h3>(It's FREE to get started and setup only takes 3 minutes!)</h3>
      </div>
    </section><!-- END #video.eleven.columns -->

    <aside id="doc_links" class="four columns offset-by-one">
      <a href="https://www.codeship.io?utm_source=RocketShip&utm_medium=podcast&utm_campaign=RocketShipPodcast"><h1>Try Codeship FREE</h1></a>
      <div class="divider"></div>
      <h2>What's Your Stack?</h2>
      <h4>Ruby on Rails</h4>
      <ul>
        <li><a href="http://blog.codeship.io/2013/10/02/how-to-deploy-a-ruby-on-rails-app-from-bitbucket-to-heroku.html?utm_source=RocketShip&utm_medium=podcast&utm_campaign=RocketShipPodcast">BitBucket to Heroku</a></li>
        <li><a href="http://blog.codeship.io/2013/09/26/how-to-deploy-a-ruby-on-rails-app-from-github-to-heroku.html?utm_source=RocketShip&utm_medium=podcast&utm_campaign=RocketShipPodcast">GitHub to Heroku</a></li>
      </ul>
      <h4>Node.js</h4>
      <ul>
        <li><a href="http://blog.codeship.io/2013/10/08/how-to-deploy-a-node-js-app-from-github-to-heroku.html?utm_source=RocketShip&utm_medium=podcast&utm_campaign=RocketShipPodcast">GitHub to Heroku</a></li>
        <li><a href="http://blog.codeship.io/2013/10/29/how-to-deploy-a-node-js-app-from-github-to-nodejitsu.html?utm_source=RocketShip&utm_medium=podcast&utm_campaign=RocketShipPodcast">GitHub to Nodejitsu</a></li>
        <li><a href="http://blog.codeship.io/2013/10/23/how-to-deploy-a-node-js-app-from-bitbucket-to-nodejitsu.html?utm_source=RocketShip&utm_medium=podcast&utm_campaign=RocketShipPodcast">BitBucket to Nodejitsu</a></li>
        <li><a href="http://blog.codeship.io/2014/04/03/continuous-deployment-modulus-github-nodejs.html?utm_source=RocketShip&utm_medium=podcast&utm_campaign=RocketShipPodcast">GitHub to Modulus</a></li>
        <li><a href="http://blog.codeship.io/2014/04/01/continuous-deployment-modulus-bitbucket-nodejs.html?utm_source=RocketShip&utm_medium=podcast&utm_campaign=RocketShipPodcast">Bitbucket to Modulus</a></li>

      </ul>
      <h4>Django</h4>
      <ul>
        <li><a href="http://blog.codeship.io/2014/01/23/continuous-deployment-google-app-engine-github-python-django.html?utm_source=RocketShip&utm_medium=podcast&utm_campaign=RocketShipPodcast">GitHub to Google App Engine</a></li>
        <li><a href="http://blog.codeship.io/2014/01/21/continuous-deployment-google-app-engine-bitbucket-python-django.html?utm_source=RocketShip&utm_medium=podcast&utm_campaign=RocketShipPodcast">Bitbucket to Google App Engine</a></li>
        <li><a href="http://blog.codeship.io/2013/11/26/how-to-continuously-deploy-a-django-app-from-github-to-dotcloud.html?utm_source=RocketShip&utm_medium=podcast&utm_campaign=RocketShipPodcast">GitHub to dotCloud</a></li>
        <li><a href="http://blog.codeship.io/2013/11/20/how-to-continuously-deploy-a-django-app-from-bitbucket-to-dotcloud.html?utm_source=RocketShip&utm_medium=podcast&utm_campaign=RocketShipPodcast">Bitbucket to dotCloud</a></li>
      </ul>
      <div class="divider"></div>
      <h2>Use Other Tech?</h2>
      <ul>
        <li><a href="https://www.codeship.io/#technologies?utm_source=RocketShip&utm_medium=podcast&utm_campaign=RocketShipPodcast">View Supported Technologies</a></li>
      </ul>
    </aside><!-- END #video.eleven.columns -->
  </div><!-- END #video_demo.container -->
</section><!-- END #video_demo_banner -->

<%= partial 'partials/footer' %>
