<div id="hello-there">Get a sneak peek of our founder interviews on the Rocketship Podcast — <a href="/podcast">Listen Now</a></div>

<section id="headline_banner">
  <div id="headline" class="container">
    <div class="sixteen columns">
      <h1>A Profitable Product Launch Doesn't Just Happen.</h1>
      <h2>Learn how to launch into revenue from <b><u>day one</u></b>.</h2>
    </div><!-- END .sixteen.columns -->
  </div><!-- END #headline.container -->
</section><!-- END #headline_banner -->

<section id="summary_banner">
  <div id="summary" class="container">
    <div class="seven columns offset-by-one" id="book_copy">
      <p>We've brought together our stories as well as interviews with dozens of founders from every step of the journey. We seriously can't wait to share this book with you.</p><br /><br />

      <form action="http://email.demandloyalty.com/t/r/s/tyjtukk/" method="post">
        <input type="email" name="cm-tyjtukk-tyjtukk" placeholder="Your Email" id="sign_up" required>
        <input type="submit" value="Download a Free Sample Chapter" id="submit">
      </form>
    </div>

    <div class="seven columns" id="book_image">
      <%= image_tag 'book-cover-121213.png', width: "475", class: 'scale-with-grid' %>
    </div>
  </div><!-- END #summary.container -->
</section><!-- END #summary_banner -->


<section id="bullet_points_banner">
  <div id="bullet_points">
   <div class="container">
    <div class="sixteen columns">
      <h2>Products don't just magically make money. There's tons of groundwork that goes into any successful launch. In this book you'll learn our collective techniques for:</h2>
      <div class="divider"></div>
    </div><!-- END .sixteen.columns -->
  </div><!-- END #bullet_points.container -->
  <div class="container lessons">
    <div class="one-third column">
      <span class="glyph">1</span>
      <h3>Building a quality audience</h3>
      <p>Generate excitement and validation long before your product is ready. Don't wait until the end and launch to crickets.</p>
    </div>
    <div class="one-third column">
      <span class="glyph">2</span>
      <h3>Talking to your peers</h3>
      <p>Strengthen your ideas and approaches by talking to folks who have already been in your shoes. Ask the right questions.</p>
    </div>
    <div class="one-third column">
      <span class="glyph">3</span>
      <h3>Developing the right product</h3>
      <p>Hone in to the real pain so you build what your customers actually need. Listen to the problem, not the people.</p>
    </div>
  </div>
  <div class="container lessons">
    <div class="one-third column">
      <span class="glyph">4</span>
      <h3>Generating revenue before launch</h3>
      <p>Master the art of turning your beta testers into paying customers. Change the conversations you're having.</p>
    </div>
    <div class="one-third column">
      <span class="glyph">5</span>
      <h3>Launching Your Product</h3>
      <p>Follow a proven strategy to take your product to market with no advertising budget. Embrace organic sources.</p>
    </div>
    <div class="one-third column">
      <span class="glyph">6</span>
      <h3>Optimizing Your Funnel</h3>
      <p>Learn how to develop and optimize your sales funnel as your traffic increases. Move people from <a href="http://500hats.typepad.com/500blogs/2007/09/startup-metrics.html">A-to-ARRR</a>.</p>
    </div>
  </div>
  </div>
</section><!-- END #bullet_points_banner -->


<section id="authors_banner">
  <div id="authors" class="container">
    <div class="sixteen columns">
      <div class="divider"></div>
      <h2>Authors</h2>

    </div>

    <div class="sixteen columns" id="headshots">
      <div class="author">
        <div class="headshot">
          <a href="https://twitter.com/michaelsacca" class="michael author"></a>
        </div>
        <h3> <a href="https://twitter.com/michaelsacca">Michael Sacca</a></h3>
        <p>Currently building <a href="https://www.brandisty.com/">Brandisty</a>. Founder of <a href="http://www.tinyfactory.co/#!home">Tiny Factory</a>.  <span>Proud father.</span></p>
      </div><!-- END .author -->

      <div class="author">
        <a href="https://twitter.com/joellesteiniger" class="joelle author"></a>
        <h3><a href="https://twitter.com/joellesteiniger">Joelle Steiniger</a></h3>
        <p>Currently building <a href="http://www.hookfeed.com">HookFeed</a> &amp; <a href="http://www.minimalytics.com">Minimalytics</a>. Co-Founder of <a href="http://www.smallhq.com">Small HQ</a>.  <span>IPA connoisseur.</span></p>
      </div><!-- END .author -->

      <div class="author">
        <a href="https://twitter.com/sdmattg" class="matt author"></a>
        <h3><a href="https://twitter.com/sdmattg">Matt Goldman</a></h3>
        <p>Currently building <a href="http://www.hookfeed.com">HookFeed</a> &amp; <a href="http://www.minimalytics.com">Minimalytics</a>. Founder of <a href="http://www.smallhq.com">Small HQ</a>.  <span>Likes eggs.</span></p>
      </div><!-- END .author -->
    </div><!-- END #headshots -->
  </div><!-- END #authors.container -->
</section><!-- END #authors_banner -->

<section id="footer_banner">
  <div id="footer" class="container">
    <div class="sixteen columns">
    <p>A project by <a href="http://www.smallhq.com">Small HQ</a> and <a href="http://www.tinyfactory.com">Tiny Factory</a> &nbsp | &nbsp <span><a href="http://www.madeinsd.org">Made in SD</a></span>.</p>
    </div><!-- END .sixteen.columns -->
  </div><!-- END #footer.container -->
</section><!-- END #footer_banner -->