<%= partial 'partials/header' %>

<section id="podcast_intro_banner">
  <div id="podcast_intro" class="container">
    <div class="twelve columns offset-by-two">
      <h1>The Rocketship Podcast</h1>
      <h2>20 minute chats with successful SaaS founders about the early days of their business and the activities that helped them succeed at key points along the way.</h2>
      <div class="divider"></div>
    </div><!-- END .twelve.columns.offset-by-two -->
  </div><!-- END #podcast_intro.container -->
</section><!-- END #podcast_intro_banner -->

<section id="podcasts_banner">
  <div id="podcasts" class="container">
    <section id="podcast_list" class="twelve columns">
      <div class="podcast">
        <h3>Episode 1: Ryan Hoover</h3>
        <a href="https://twitter.com/rrhoover"><img src="/images/ryan_hoover.jpeg"></a>
        <p><a href="https://twitter.com/rrhoover">Ryan</a> shares how he and his partner, Nathan Bashaw, realased the smallest possible version of their product, <a href="http://www.producthunt.co">Product Hunt</a>, in less than a week. You'll also learn his secrets for getting content published on sites like Pando Daily and Fast Company.</p>
        <div class="clear"></div>
        <div id="listen">
          <iframe frameborder='0' height='36px' scrolling='no' seamless src='https://simplecast.fm/e/1488-ep1-ryan-hoover?style=light' width='100%'></iframe>
          <div class="download_options">
            <a class="mp3" href="https://simplecast.fm/media/1488-ep1-ryan-hoover.mp3">Download mp3</a>
            <a class="itunes" href="#">Subscribe on iTunes</a>
          </div>
          <div class="clear"></div>
        </div>
        <a class="show_notes" href="#">Show Notes &amp; Links</a>
      </div><!-- END .podcast -->

      <div class="podcast">
        <h3>Episode 1: Ryan Hoover</h3>
        <a href="https://twitter.com/rrhoover"><img src="/images/ryan_hoover.jpeg"></a>
        <p><a href="https://twitter.com/rrhoover">Ryan</a> shares how he and his partner, Nathan Bashaw, realased the smallest possible version of their product, <a href="http://www.producthunt.co">Product Hunt</a>, in less than a week. You'll also learn his secrets for getting content published on sites like Pando Daily and Fast Company.</p>
        <div class="clear"></div>
        <div id="listen">
          <iframe frameborder='0' height='36px' scrolling='no' seamless src='https://simplecast.fm/e/1488-ep1-ryan-hoover?style=light' width='100%'></iframe>
          <div class="download_options">
            <a class="mp3" href="https://simplecast.fm/media/1488-ep1-ryan-hoover.mp3">Download mp3</a>
            <a class="itunes" href="#">Subscribe on iTunes</a>
          </div>
          <div class="clear"></div>
        </div>
        <a class="show_notes" href="#">Show Notes &amp; Links  [Expand]</a>
      </div><!-- END .podcast -->

      <div class="podcast">
        <h3>Episode 1: Ryan Hoover</h3>
        <a href="https://twitter.com/rrhoover"><img src="/images/ryan_hoover.jpeg"></a>
        <p><a href="https://twitter.com/rrhoover">Ryan</a> shares how he and his partner, Nathan Bashaw, realased the smallest possible version of their product, <a href="http://www.producthunt.co">Product Hunt</a>, in less than a week. You'll also learn his secrets for getting content published on sites like Pando Daily and Fast Company.</p>
        <div class="clear"></div>
        <div id="listen">
          <iframe frameborder='0' height='36px' scrolling='no' seamless src='https://simplecast.fm/e/1488-ep1-ryan-hoover?style=light' width='100%'></iframe>
          <div class="download_options">
            <a class="mp3" href="https://simplecast.fm/media/1488-ep1-ryan-hoover.mp3">Download mp3</a>
            <a class="itunes" href="#">Subscribe on iTunes</a>
          </div>
          <div class="clear"></div>
        </div>
        <a class="show_notes" href="#">Show Notes &amp; Links  [Expand]</a>
      </div><!-- END .podcast -->

      <div class="podcast">
        <h3>Episode 1: Ryan Hoover</h3>
        <a href="https://twitter.com/rrhoover"><img src="/images/ryan_hoover.jpeg"></a>
        <p><a href="https://twitter.com/rrhoover">Ryan</a> shares how he and his partner, Nathan Bashaw, realased the smallest possible version of their product, <a href="http://www.producthunt.co">Product Hunt</a>, in less than a week. You'll also learn his secrets for getting content published on sites like Pando Daily and Fast Company.</p>
        <div class="clear"></div>
        <div id="listen">
          <iframe frameborder='0' height='36px' scrolling='no' seamless src='https://simplecast.fm/e/1488-ep1-ryan-hoover?style=light' width='100%'></iframe>
          <div class="download_options">
            <a class="mp3" href="https://simplecast.fm/media/1488-ep1-ryan-hoover.mp3">Download mp3</a>
            <a class="itunes" href="#">Subscribe on iTunes</a>
          </div>
          <div class="clear"></div>
        </div>
        <a class="show_notes" href="#">Show Notes &amp; Links  [Expand]</a>
      </div><!-- END .podcast -->

    </section><!-- END #podcast_list.twelve.columns -->

    <aside id="sidebar" class="four columns">
      sidebar stuff
    </aside><!-- END #sidebar.four.columns -->
  </div><!-- END #podcasts.container -->
</section><!-- END #podcasts_banner -->




<p>By the way, if you like what you hear, please take a moment to review us on iTunes. We truly appreciate it!</p>


<section id="footer_banner">
  <div id="footer" class="container">
    <div class="sixteen columns">
    <p>A project by <a href="http://www.smallhq.com">Small HQ</a> and <a href="http://www.tinyfactory.com">Tiny Factory</a> &nbsp | &nbsp <span><a href="http://www.madeinsd.org">Made in SD</a></span>.</p>
    </div><!-- END .sixteen.columns -->
  </div><!-- END #footer.container -->
</section><!-- END #footer_banner -->