<%= partial 'partials/header' %>

<section id="podcast_intro_banner">
  <div id="podcast_intro" class="container">
    <div class="twelve columns offset-by-two">
      <h1>The Rocketship Podcast</h1>
      <h2>20 minute interviews with successful SaaS founders about the early days of their business and the activities that helped them succeed at key points along the way.</h2>
      <div class="divider"></div>
    </div><!-- END .twelve.columns.offset-by-two -->
  </div><!-- END #podcast_intro.container -->
</section><!-- END #podcast_intro_banner -->

<section id="podcasts_banner">
  <div id="podcasts" class="container">
    <section id="podcast_list" class="eleven columns">
      <div class="podcast">
        <h3>Episode 1: Ryan Hoover<span class="podcast_date">February X, 2014</span></h3>
        <a href="https://twitter.com/rrhoover"><img src="/images/ryan_hoover.jpeg"></a>
        <p><a href="https://twitter.com/rrhoover">Ryan</a> shares how he and his partner, Nathan Bashaw, realased the smallest possible version of their product, <a href="http://www.producthunt.co">Product Hunt</a>, in less than a week. You'll also learn his secrets for getting content published on sites like Pando Daily and Fast Company.</p>
        <div class="clear"></div>
        <div id="listen">
          <iframe frameborder='0' height='36px' scrolling='no' seamless src='https://simplecast.fm/e/1488-ep1-ryan-hoover?style=light' width='100%'></iframe>
          <div class="download_options">
            <a class="mp3" href="https://simplecast.fm/media/1488-ep1-ryan-hoover.mp3">Download mp3</a>
            <a class="itunes" href="#">Subscribe on iTunes</a>
          </div>
          <div class="clear"></div>
        </div>
        <a class="show_notes" href="#">Show Notes &amp; Links</a>
      </div><!-- END .podcast -->

      <div class="podcast">
        <h3>Episode 1: Ryan Hoover<span class="podcast_date">February X, 2014</span></h3>
        <a href="https://twitter.com/rrhoover"><img src="/images/ryan_hoover.jpeg"></a>
        <p><a href="https://twitter.com/rrhoover">Ryan</a> shares how he and his partner, Nathan Bashaw, realased the smallest possible version of their product, <a href="http://www.producthunt.co">Product Hunt</a>, in less than a week. You'll also learn his secrets for getting content published on sites like Pando Daily and Fast Company.</p>
        <div class="clear"></div>
        <div id="listen">
          <iframe frameborder='0' height='36px' scrolling='no' seamless src='https://simplecast.fm/e/1488-ep1-ryan-hoover?style=light' width='100%'></iframe>
          <div class="download_options">
            <a class="mp3" href="https://simplecast.fm/media/1488-ep1-ryan-hoover.mp3">Download mp3</a>
            <a class="itunes" href="#">Subscribe on iTunes</a>
          </div>
          <div class="clear"></div>
        </div>
        <a class="show_notes" href="#">Show Notes &amp; Links  [Expand]</a>
      </div><!-- END .podcast -->

      <div class="podcast">
        <h3>Episode 1: Ryan Hoover<span class="podcast_date">February X, 2014</span></h3>
        <a href="https://twitter.com/rrhoover"><img src="/images/ryan_hoover.jpeg"></a>
        <p><a href="https://twitter.com/rrhoover">Ryan</a> shares how he and his partner, Nathan Bashaw, realased the smallest possible version of their product, <a href="http://www.producthunt.co">Product Hunt</a>, in less than a week. You'll also learn his secrets for getting content published on sites like Pando Daily and Fast Company.</p>
        <div class="clear"></div>
        <div id="listen">
          <iframe frameborder='0' height='36px' scrolling='no' seamless src='https://simplecast.fm/e/1488-ep1-ryan-hoover?style=light' width='100%'></iframe>
          <div class="download_options">
            <a class="mp3" href="https://simplecast.fm/media/1488-ep1-ryan-hoover.mp3">Download mp3</a>
            <a class="itunes" href="#">Subscribe on iTunes</a>
          </div>
          <div class="clear"></div>
        </div>
        <a class="show_notes" href="#">Show Notes &amp; Links  [Expand]</a>
      </div><!-- END .podcast -->

      <div class="podcast">
        <h3>Episode 1: Ryan Hoover<span class="podcast_date">February X, 2014</span></h3>
        <a href="https://twitter.com/rrhoover"><img src="/images/ryan_hoover.jpeg"></a>
        <p><a href="https://twitter.com/rrhoover">Ryan</a> shares how he and his partner, Nathan Bashaw, realased the smallest possible version of their product, <a href="http://www.producthunt.co">Product Hunt</a>, in less than a week. You'll also learn his secrets for getting content published on sites like Pando Daily and Fast Company.</p>
        <div class="clear"></div>
        <div id="listen">
          <iframe frameborder='0' height='36px' scrolling='no' seamless src='https://simplecast.fm/e/1488-ep1-ryan-hoover?style=light' width='100%'></iframe>
          <div class="download_options">
            <a class="mp3" href="https://simplecast.fm/media/1488-ep1-ryan-hoover.mp3">Download mp3</a>
            <a class="itunes" href="#">Subscribe on iTunes</a>
          </div>
          <div class="clear"></div>
        </div>
        <a class="show_notes" href="#">Show Notes &amp; Links  [Expand]</a>
      </div><!-- END .podcast -->

    </section><!-- END #podcast_list.twelve.columns -->

    <aside id="sidebar" class="four columns offset-by-one">
      <div id="upcoming_episodes">
        <div class="divider"></div>
        <h2>Upcoming Episodes</h2>
        <ul>
          <li>Samuel Hulick<span>2/XX</span></li>
          <li>Todd Garland<span>2/XX</span></li>
          <li>Chris Hexton<span>2/XX</span></li>
          <li>Ruben Gamez<span>3/XX</span></li>
          <li>Dan Norris<span>3/XX</span></li>
          <li>Mikael Cho<span>3/XX</span></li>
        </ul>
      </div>
      <div id="review_us">
        <h2>Please Review Us</h2>
        <img src="/images/stars.png" width= "109">
        <p>If you like what you hear, please take a second to <a href="#">Review Us on iTunes</a>. We truly appreciate it!</p>
      </div>

      <div id="hosts">
        <div class="divider"></div>
          <h2>About the Hosts</h2>
          <div class="host">
          <div class="headshot">
            <a href="https://twitter.com/michaelsacca"><img src="/images/michael.jpg"></a>
          </div>
          <h3> <a href="https://twitter.com/michaelsacca">Michael Sacca</a></h3>
          <p>Currently building <a href="https://www.brandisty.com/">Brandisty</a>. Founder of <a href="http://www.tinyfactory.co/#!home">Tiny Factory</a>.  <span>Proud father.</span></p>
        </div><!-- END .host -->

        <div class="host">
          <a href="https://twitter.com/joellesteiniger"><a href="https://twitter.com/joellesteiniger" class="joelle author"><img src="/images/joelle.png"></a>
          <h3><a href="https://twitter.com/joellesteiniger">Joelle Steiniger</a></h3>
          <p>Currently building <a href="http://www.hookfeed.com">HookFeed</a> &amp; <a href="http://www.minimalytics.com">Minimalytics</a>. Co-Founder of <a href="http://www.smallhq.com">Small HQ</a>.  <span>IPA connoisseur.</span></p>
        </div><!-- END .host -->

        <div class="host">
          <a href="https://twitter.com/sdmattg"><img src="/images/matt.jpeg"></a>
          <h3><a href="https://twitter.com/sdmattg">Matt Goldman</a></h3>
          <p>Currently building <a href="http://www.hookfeed.com">HookFeed</a> &amp; <a href="http://www.minimalytics.com">Minimalytics</a>. Founder of <a href="http://www.smallhq.com">Small HQ</a>.  <span>Likes eggs.</span></p>
        </div><!-- END .host -->
      </div>
    </aside><!-- END #sidebar.four.columns -->
  </div><!-- END #podcasts.container -->
</section><!-- END #podcasts_banner -->

<section id="footer_banner">
  <div id="footer" class="container">
    <div class="sixteen columns">
    <p>A project by <a href="http://www.smallhq.com">Small HQ</a> and <a href="http://www.tinyfactory.com">Tiny Factory</a> &nbsp | &nbsp <span><a href="http://www.madeinsd.org">Made in SD</a></span>.</p>
    </div><!-- END .sixteen.columns -->
  </div><!-- END #footer.container -->
</section><!-- END #footer_banner -->