<%= partial 'partials/header' %>

<section id="podcast_intro_banner">
  <div id="podcast_intro" class="container">
    <div class="twelve columns offset-by-two">
      <h1>The Rocketship Podcast</h1>
      <h2>20 minute interviews with successful SaaS founders about the early days of their business and the activities that helped them succeed at key points along the way.</h2>
      <div class="divider"></div>
    </div><!-- END .twelve.columns.offset-by-two -->
  </div><!-- END #podcast_intro.container -->
</section><!-- END #podcast_intro_banner -->

<section id="podcasts_banner">
  <div id="podcasts" class="container">
    <section id="podcast_list" class="eleven columns">
      <div class="podcast">
        <h3>Episode 3: Todd Garland<span class="podcast_date">February 18, 2014</span></h3>
        <a href="https://twitter.com/toddo"><img src="/images/todd_garland.jpg"></a>
        <p><a href="https://twitter.com/toddo">Todd Garland</a>, founder of <a href="http://buysellads.com/">BuySellAds</a> talked with us about how you don't need to be the first to market, and about how old fashioned hustle and personal touch still pay off in a big way.</p>
        <div class="clear"></div>
        <div class="listen">
          <iframe frameborder='0' height='36px' scrolling='no' seamless src='https://simplecast.fm/e/1518-ep3-todd-garland?style=light' width='100%'></iframe>
          <div class="download_options">
            <a class="mp3" href="https://simplecast.fm/media/1518-ep3-todd-garland.mp3">Download mp3</a>
            <a class="itunes" href="https://itunes.apple.com/us/podcast/the-rocketship-podcast/id808014240?mt=2">Subscribe on iTunes</a>
          </div>
          <div class="clear"></div>
        </div>
        <div class="podcast_details">
          <div class="show_notes">
            <h4>Show Notes/Links:</h4>
            <ul>
              <li><a href="http://buysellads.com/">BuySellAds</a></li>
              <li><a href="https://twitter.com/toddo">Todd Garland</a></li>
              <li><a href="http://en.wikipedia.org/wiki/AdBrite">AdBrite</a></li>
              <li><a href="https://speakerdeck.com/toddynho/growth-hacking-in-the-early-days-of-buysellads">Cold Email Example</a> (Speaker Deck, slide 11)</li>
              <li><a href="http://www.hubspot.com/">HubSpot</a></li>
              <li><a href="https://pro.buysellads.com/publishers">PublisherPro</a></li>
              <li><a href="https://stripe.com/">Stripe</a></li>
              <li><a href="http://www.authorize.net/">Authorize.net</a></li>
              <li><a href="https://www.balancedpayments.com/">Balanced Payments</a></li>
              <li><a href="http://ttps://www.braintreepayments.com">Braintree</a></li>
              <li><a href="http://promoted.com/">Promoted.com</a></li>
              <li><a href="https://www.lyft.me/">Lyft</a></li>
              <li><a href="https://www.uber.com/">Uber</a></li>
              <li><a href="https://chrome.google.com/webstore/detail/benchwarmer-dribbble-for/lhdjhhpjicomphhjpehdhjenbaamdpnn?hl=en">Benchwarmer</a></li>
              <li><a href="https://chrome.google.com/webstore/detail/instagram-for-chrome-tabs/mipnjnddbpbdmbpjafflemfdefjlibod?hl=en">Instatabs</a></li>
              <li>Intro song by Alex Koch of <a href="https://soundcloud.com/digital-dust-studios">Digital Dust Studios</a></li>
              <li>Outro song: "Computers" by <a href="https://twitter.com/HIMANSHU">Nehru Jackets</a></li>
            </ul>
          </div><!-- END .show_notes -->
          <div class="tweetables">
            <h4>Tweetable Bits:</h4>
            <p class="tweetable">"You may think you’re up against Goliath, but it's really much more of a level playing field than you think."<a href="https://twitter.com/share" class="twitter-share-button" data-url="http://howtobuildarocketship.com/podcast" data-text="&quot;You may think you’re up against Goliath, but it's really much more of a level playing field than you think.&quot; -@toddo" data-count="none">Tweet</a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script></p>
            <p class="tweetable">"That's the beauty of being naive &amp; able to take a fresh perspective on an industry with a ton of baggage..."<a href="https://twitter.com/share" class="twitter-share-button" data-url="http://howtobuildarocketship.com/podcast" data-text="&quot;That's the beauty of being naive & able to take a fresh perspective on an industry with a ton of baggage...&quot; -@toddo" data-count="none">Tweet</a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script></p>
            <p class="tweetable">"With a fresh set of eyes you can break down a problem at the most simple level..."<a href="https://twitter.com/share" class="twitter-share-button" data-url="http://howtobuildarocketship.com/podcast" data-text="&quot;With a fresh set of eyes you can break down a problem at the most simple level...&quot; -@toddo" data-count="none">Tweet</a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
          </div><!-- END .tweetables -->
          <div class="clear"></div>
        </div><!-- END .podcast_details -->
      </div><!-- END .podcast -->

      <div class="podcast">
        <h3>Episode 2: Samuel Hulick<span class="podcast_date">February 11, 2014</span></h3>
        <a href="https://twitter.com/SamuelHulick"><img src="/images/samuel_hulick.png"></a>
        <p><a href="https://twitter.com/SamuelHulick">Samuel</a>, creator of <a href="http://www.useronboard.com">UserOnboard.com</a>, shared how he was able to grow his audience from 0 to over 3000 in less than 2 months, by creating his own brand of unique, niche content.</p>
        <div class="clear"></div>
        <div class="listen">
          <iframe frameborder='0' height='36px' scrolling='no' seamless src='https://simplecast.fm/e/1517-ep2-samuel-hulick?style=light' width='100%'></iframe>
          <div class="download_options">
            <a class="mp3" href="https://simplecast.fm/media/1517-ep2-samuel-hulick.mp3">Download mp3</a>
            <a class="itunes" href="https://itunes.apple.com/us/podcast/the-rocketship-podcast/id808014240?mt=2">Subscribe on iTunes</a>
          </div>
          <div class="clear"></div>
        </div>
        <div class="podcast_details">
          <div class="show_notes">
            <h4>Show Notes/Links:</h4>
            <ul>
              <li><a href="http://www.useronboard.com">User Onboarding</a></li>
              <li><a href="http://www.useronboard.com/how-lessaccounting-onboards-new-users/">Less Accounting Teardown</a></li>
              <li><a href="http://www.useronboard.com/how-basecamp-onboards-new-users/">Basecamp Teardown</a></li>
              <li><a href="http://www.useronboard.com/how-netflix-onboards-new-users/">Netflix Teardown</a></li>
              <li><a href="http://www.useronboard.com/how-buffer-onboards-new-users/">Buffer Teardown</a></li>
              <li><a href="https://www.getdrip.com/home-more-leads?utm_expid=66691578-7.TfFbWy9ORfe_nqSxgymClA.1&utm_referrer=https%3A%2F%2Fwww.google.com%2F">Drip</a></li>
              <li><a href="http://growthhackers.com/">GrowthHackers.com</a></li>
              <li><a href="https://twitter.com/robwalling">Rob Walling</a></li>
              <li><a href="https://twitter.com/SeanEllis">Sean Ellis</a></li>
              <li><a href="http://www.slideshare.net/">SlideShare</a></li>
              <li><a href="http://www.useronboard.com/features-vs-benefits/">Super Mario Image</a></li>
              <li>Intro song by Alex Koch of <a href="https://soundcloud.com/digital-dust-studios">Digital Dust Studios</a></li>
              <li>Outro song: "Favorite Song" by <a href="http://chanceraps.com/">Chance the Rapper</a></li>
            </ul>
          </div><!-- END .show_notes -->
          <div class="tweetables">
            <h4>Tweetable Bits:</h4>
            <p class="tweetable">“As soon as I started representing myself as ‘the user onboarding guy’ I suddenly had a lot more ears”<a href="https://twitter.com/share" class="twitter-share-button" data-url="http://howtobuildarocketship.com/podcast" data-text="“As soon as I started representing myself as ‘the user onboarding guy’ I suddenly had a lot more ears” -@SamuelHulick" data-count="none">Tweet</a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script></p>
            <p class="tweetable">“I can’t stress how frustrating it was to know I had good ideas, but nobody that would listen to them”<a href="https://twitter.com/share" class="twitter-share-button" data-url="http://howtobuildarocketship.com/podcast" data-text="“I can’t stress how frustrating it was to know I had good ideas, but nobody that would listen to them” -@SamuelHulick" data-count="none">Tweet</a><script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script></p>
          </div><!-- END .tweetables -->
          <div class="clear"></div>
        </div><!-- END .podcast_details -->
      </div><!-- END .podcast -->


      <div class="podcast">
        <h3>Episode 1: Ryan Hoover<span class="podcast_date">February 5, 2014</span></h3>
        <a href="https://twitter.com/rrhoover"><img src="/images/ryan_hoover.jpeg"></a>
        <p><a href="https://twitter.com/rrhoover">Ryan</a> shares how he and his partner, Nathan Bashaw, realased the smallest possible version of their product, <a href="http://www.producthunt.co">Product Hunt</a>, in less than a week. You'll also learn his strategies for getting content published on sites like PandoDaily and Fast Company.</p>
        <div class="clear"></div>
        <div class="listen">
          <iframe frameborder='0' height='36px' scrolling='no' seamless src='https://simplecast.fm/e/1488-ep1-ryan-hoover?style=light' width='100%'></iframe>
          <div class="download_options">
            <a class="mp3" href="https://simplecast.fm/media/1488-ep1-ryan-hoover.mp3">Download mp3</a>
            <a class="itunes" href="https://itunes.apple.com/us/podcast/the-rocketship-podcast/id808014240?mt=2">Subscribe on iTunes</a>
          </div>
          <div class="clear"></div>
        </div>
        <div class="podcast_details">
          <div class="show_notes">
            <h4>Show Notes/Links:</h4>
            <ul>
              <li><a href="http://www.producthunt.co">Product Hunt</a></li>
              <li><a href="http://pando.com/2013/07/10/what-philz-coffee-can-teach-us-about-product-design/">What Philz Coffee Can Teach us About Product Design [PandoDaily]</a></li>
              <li><a href="http://www.fastcolabs.com/3023152/open-company/the-wisdom-of-the-20-minute-startup">The Wisdom of the 20-Minute Startup [FastCo]</a></li>
              <li><a href="http://www.fastcolabs.com/3015976/why-these-5-successful-startups-started-as-blogs">Five Successful Startups That Started As Blogs [FastCo]</a></li>
              <li><a href="http://ryanhoover.me/about">Ryan's Personal Blog</a></li>
              <li><a href="http://www.quora.com/Startup-Traction/How-do-social-sites-e-g-Hunch-Foursquare-Reddit-Digg-go-from-1-<li>to-100k-users/answer/Ryan-Hoover">Startup Traction: How do social sites (e.g., Hunch, Foursquare, Reddit, Digg) go from 1 to 100k users? [Quora]</a></li>
              <li><a href="http://quibb.com/">Quibb</a></li>
              <li><a href="http://video.pandodaily.com/pandomonthly/">PandoMonthly</a></li>
              <li><a href="https://twitter.com/nbashaw">Nathan Bashaw</a></li>
              <li><a href="https://twitter.com/sarahcuda">Sarah Lacy</a></li>
              <li><a href="https://twitter.com/Penenberg">Adam L. Penenberg</a></li>
              <li><a href="https://twitter.com/carmeldea">Carmel DeAmicis</a></li>
              <li>Intro song by Alex Koch of <a href="https://soundcloud.com/digital-dust-studios">Digital Dust Studios</a></li>
              <li>Outro song: "Ivey" by <a href="http://accordioncrimes.bandcamp.com/">Accordion Crime</a></li>
            </ul>
          </div><!-- END .show_notes -->
          <div class="tweetables">
            <h4>Tweetable Bits:</h4>
            <p class="tweetable">"Cold emails work most of the time...it's really about how you do it."<a href="https://twitter.com/share" class="twitter-share-button" data-url="http://howtobuildarocketship.com/podcast" data-text="&quot;Cold emails work most of the time...it's really about how you do it.&quot; - @rrhoover" data-count="none">Tweet</a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script></p>
            <p class="tweetable">"I don't have a success metric...it's really the human connection that blogging can enable that makes it super valuable to me." <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://howtobuildarocketship.com/podcast" data-text="&quot;It's really the human connection that blogging can enable that makes it super valuable to me.&quot; @rrhoover" data-count="none">Tweet</a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script></p>
          </div><!-- END .tweetables -->
          <div class="clear"></div>
        </div><!-- END .podcast_details -->
      </div><!-- END .podcast -->
    </section><!-- END #podcast_list.twelve.columns -->

    <aside id="sidebar" class="four columns offset-by-one">
      <div id="upcoming_episodes">
        <div class="divider"></div>
        <h2>Upcoming Episodes</h2>
        <ul>
          <li>Chris Hexton<span>2/25</span></li>
          <li>Ruben Gamez<span>2/27</span></li>
          <li>Dan Norris<span>3/04</span></li>
          <li>Mikael Cho<span>3/06</span></li>
          <li>Jeremiah Gardner<span>3/11</span></li>
          <li>Adii Pienaar<span>3/13</span></li>
          <li>Brennan Dunn<span>3/18</span></li>
          <li>Mark Fidelman<span>3/20</span></li>
          <li>Yashar Ahmadpour<span>3/25</span></li>
          <li>Tawheed Kader (TK)<span>3/27</span></li>
          <li>Brant Cooper<span>4/01</span></li>
          <li>Steve Young<span>4/03</span></li>
          <li>Suzanne Xie<span>4/8</span></li>
        </ul>
      </div>
      <div id="review_us">
        <h2>Please Review Us</h2>
        <img src="/images/stars.png" width= "109">
        <p>If you like what you hear, please take a second to <a href="https://itunes.apple.com/us/podcast/the-rocketship-podcast/id808014240?mt=2">Review Us on iTunes</a>. We truly appreciate it!</p>
      </div>

      <div id="hosts">
        <div class="divider"></div>
          <h2>About the Hosts</h2>
          <div class="host">
          <div class="headshot">
            <a href="https://twitter.com/michaelsacca"><img src="/images/michael.jpg"></a>
          </div>
          <h3> <a href="https://twitter.com/michaelsacca">Michael Sacca</a></h3>
          <p>Currently building <a href="https://www.brandisty.com/">Brandisty</a>. Founder of <a href="http://www.tinyfactory.co/#!home">Tiny Factory</a>.  <span>Proud father.</span></p>
        </div><!-- END .host -->

        <div class="host">
          <a href="https://twitter.com/joellesteiniger"><a href="https://twitter.com/joellesteiniger" class="joelle author"><img src="/images/joelle.png"></a>
          <h3><a href="https://twitter.com/joellesteiniger">Joelle Steiniger</a></h3>
          <p>Currently building <a href="http://www.hookfeed.com">HookFeed</a> &amp; <a href="http://www.minimalytics.com">Minimalytics</a>. Co-Founder of <a href="http://www.smallhq.com">Small HQ</a>.  <span>IPA connoisseur.</span></p>
        </div><!-- END .host -->

        <div class="host">
          <a href="https://twitter.com/sdmattg"><img src="/images/matt.jpeg"></a>
          <h3><a href="https://twitter.com/sdmattg">Matt Goldman</a></h3>
          <p>Currently building <a href="http://www.hookfeed.com">HookFeed</a> &amp; <a href="http://www.minimalytics.com">Minimalytics</a>. Founder of <a href="http://www.smallhq.com">Small HQ</a>.  <span>Likes eggs.</span></p>
        </div><!-- END .host -->
      </div>
    </aside><!-- END #sidebar.four.columns -->
  </div><!-- END #podcasts.container -->
</section><!-- END #podcasts_banner -->

<%= partial 'partials/footer' %>
