<section id="thank_you_banner">
  <div id="thank_you" class="container">
    <div class="twelve columns offset-by-two">
      <h1>Your Free Chapter is On the Way</h1>
      <h2>In the meantime, you should check out some of the <%= link_to 'free interviews', '/podcast' %> with awesome founders that we've been publishing weekly.<br><br><%= link_to 'Back to the book...', '/' %></h2>
    </div><!-- END .twelve.columns.offset-by-two -->
  </div><!-- END #thank_you.container -->
</section><!-- END #thank_you_banner -->